:root {
    --darkgrayishblue: #1F2233;
    --grayishblue: #25273e;
    --red: #fd6069;
}

/* Estilos Generales */

* {
    color: #dddddd;
    text-decoration: none !important;
    list-style: none;
}

a {
    color: #dddddd;
}

button {
    background: none;
    border: none;
}

body {
    background-color: var(--darkgrayishblue);
}

/* HEADER */


.icon-container {
    font-size: 50px;
}

#menu {
    width: 50px;
    height: 50px;
    font-size: 40px;
}

/* NAV */

.nav {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 75px;
    padding: 20px 0;
    background-color: #00000070;
}

nav.active.nav {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-evenly;
}

nav ul li a:hover,
nav ul li button:hover{
    color: #ffffff;
}

/************* HOME *********/

.home {
    background-color: var(--grayishblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    box-shadow: 0px 10px 10px -5px var(--grayishblue);
}


.titulo {
    font-weight: normal;
    letter-spacing: .5em;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.titulo.active {
    color: #ffffff;
    text-shadow: 1px 2px 5px #ffffff60;
}

/************* SCROLL DOWN *********/

.scroll-down {
    display: flex;
    justify-content: center;
    height: 20px;
    margin-top: -25px;
}

/************* ABOUT *********/

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.about-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.row-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

/* ¨Presentacion */

.presentacion {
    text-align: center;
}

.presen-name {
    font-weight: lighter;
    font-size: 2.3em;
}

.presen-front {
    font-weight: lighter;
    font-size: 2em;
}

.presentacion-texto {
    font-size: 1.2em;
    padding: 10px;
}

@media screen and (min-width: 992px) {

    .about-container {
        border-right: 1px solid var(--red);
    }

    .row-about {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .presentacion {
        text-align: start;
    }

    .presen-name {
        font-weight: lighter;
        font-size: 2.5em;
    }
    
    .presen-front {
        font-weight: lighter;
        font-size: 2.2em;
    }
}