:root {
    --darkgrayishblue: #1F2233;
    --grayishblue: #25273e;
    --red: #fd6069;
}

/* Estilos Generales */

* {
    color: #dddddd;
    text-decoration: none !important;
    list-style: none;
}

a {
    color: #dddddd;
}

button {
    background: none;
    border: none;
}

body {
    background-color: var(--darkgrayishblue);
}

/* HEADER */


.icon-container {
    font-size: 50px;
}

#menu {
    width: 50px;
    height: 50px;
    font-size: 40px;
}

/* NAV */

.nav {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 75px;
    padding: 20px 0;
    background-color: #00000070;
}

nav.active.nav {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-evenly;
}

nav ul li a:hover,
nav ul li button:hover{
    color: #ffffff;
}

/************* HOME *********/

.home {
    background-color: var(--grayishblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    box-shadow: 0px 10px 10px -5px var(--grayishblue);
}


.titulo {
    font-weight: normal;
    letter-spacing: .5em;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.titulo.active {
    color: #ffffff;
    text-shadow: 1px 2px 5px #ffffff60;
}

/************* SCROLL DOWN *********/

.scroll-down {
    display: flex;
    justify-content: center;
    height: 20px;
    margin-top: -25px;
}

/************* ABOUT *********/

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    box-shadow: 0px 10px 10px -5px var(--darkgrayishblue);
}

.about-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.row-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

/* ¨Presentacion */

.presentacion {
    text-align: center;
}

.presen-name {
    font-weight: lighter;
    font-size: 2.3em;
}

.presen-front {
    font-weight: lighter;
    font-size: 2em;
}

.presentacion-texto {
    font-size: 1.2em;
    padding: 10px;
}

/* SKILLS */

.skills {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25273e;
    margin: 0;
}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-item {
    height: 100px;
    display: flex;
    justify-content: center;
}

.skills-logos {
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgrayishblue);
    box-shadow: inset 0 0 20px 15px var(--grayishblue);
}

.skills .prox {
    margin-top: 200px;
}

/* Logos */

.fa-html5 {
    color: #f06529;
}

.fa-css3-alt {
    color: #2965f1;
}

.fa-js {
    color: #f0db4f;
}

/* CONTACTOS */

.contactos {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a:hover {
    color: var(--red);
}

footer ul li a:hover i {
    color: var(--red);
}

/* MEDIA QUERYS */

@media screen and (min-width: 992px) {
    .about-container {
        border-right: 1px solid var(--red);
    }

    .row-about {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .presentacion {
        text-align: start;
    }

    .presen-name {
        font-weight: lighter;
        font-size: 2.5em;
    }
    
    .presen-front {
        font-weight: lighter;
        font-size: 2.2em;
    }
    /* SKILLS */

    .skills-container .row {
        margin-top: 150px;
        display: flex;
        justify-content: center;
    }

    .skills-item:nth-child(3) .skills-logos{
        width: 300px;
    }


    /* Contactos */

    .contactos {
        height: 100px;
    }
    
    .contactos footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contactos footer ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
    }
    
    .contactos footer ul li:first-child{
        margin-top: 15px;
    }
}